.search_container {
   background: rgba(0, 0, 0, 0.808);
   padding: 20px 0;
   text-align: center;
}
.search_container input {
   width: 75%;
   height: 30px;
   font-size: 19px;
   padding: 0 5px;
   border: none;
   border-radius: 5px;
   outline: none;
}
.search_container span {
   color: #fff;
   margin-left: 7px;
}
.shop_container {
   display: grid;
   grid-template-columns: 3fr 1fr;
   padding: 20px 9%;
}
.product_container {
   border-right: 1px solid lightgray;
   margin-right: 10px;
}
